nazwisko
{
	font-size: larger;
	color: blue;
}

ID
{
	font-size: small;
}

ID::before
{
	content: "ID:";
}

autor{
	display: table;
	border: 1px solid;
	margin: 5px;
	padding: 5px;
	background-color: rgb(101,163,165);
}

ksiazka
{
	display: table;
	width: 150px;
	border: 1px solid;
	columns: 100px 3;
	margin: 35px;
	float: left;
	background-color: rgb(180,199,224);
	
}

ksiegarnia
{
	display: table;
	margin-left: auto;
    margin-right: auto;
	border: 3px dotted;
	border-color: rgb(29,29,118);
	background-color: rgb(108,208,174);
}